body {
  font-family: 'PTSans' 'Arial' sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

h2 {  
  font-size: 30px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

h4 {
  font-size: 14px;
  font-weight: 700; 
}